<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="bingAppId" value="Please put your Bing app id here"/>
  </appSettings>
  <system.web>
    <compilation targetFramework="4.0" debug="true"/>
    <customErrors mode="RemoteOnly"/>
  </system.web>
  <system.webServer>
    <!-- Добавляем переадресацию на основной сайт -->
    <rewrite>
      <rules>
        <rule name="Переадресация на основной сайт" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^orcharddoc.azurewebsites.net$"/>
          </conditions>
          <action type="Redirect" url="http://docs.orchardproject.ru/{R:0}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="Index.markdown"/>
      </files>
    </defaultDocument>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>